@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$primary: rgba(255, 55, 0, 0.646);
$light: rgb(232, 232, 232);

.btn {
  color: white !important;
}

td {
  color: rgb(85, 85, 85) !important;
}

.form-label {
  color: gray !important;
}

$table-cell-vertical-align: top;

@import "../../node_modules/bootstrap/scss/bootstrap";

